<table class="table">
  <tr>
    <th>Drawer</th>
    <th>Payee</th>
    <th>Date</th>
    <th>Amount</th>
    <th></th>
    <th></th>
  </tr>

<% @cheques.each do |cheque| %>
  <tr>
    <td><%= cheque.drawer %></td>
    <td><%= cheque.payee %></td>
    <td><%= cheque.created_at.strftime("%m/%d/%Y") %></td>
    <td><price><%= number_to_currency(cheque.amount) %></price></td>
    <td><%= link_to 'Show', cheque, :class => 'btn btn-info', :style => 'float:right' %></td>
    <td><%= link_to 'Edit', edit_cheque_path(cheque), :class => 'btn btn-success', :style => 'float:right' %></td>
    <td><%= link_to 'Destroy', cheque, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :style => 'float:right' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cheque', new_cheque_path %>
