<div align="center">
	<%= image_tag "blank_cheque.jpg", :style => "width:1000px; position:relative" %>
	<h2 style="position:absolute; bottom:180px; left:700px;"><%= @cheque.drawer %></h2>
	<h1 style="position:absolute; bottom:330px; left:320px"><%= @cheque.payee %></h1>
	<h3 style="position:absolute; bottom:395px; left:930px">
		<%= @cheque.created_at.strftime("%m/%d/%Y") %>
	</h3>
	<h1 style="position:absolute; bottom:325px; left:970px"><%= @cheque.amount %></h1>
	<h1 style="position:absolute; bottom:280px; left:250px"><%= @cheque.amount.to_words %></h1>
</div>

<hr>

<h3 align="center"><%= link_to 'Edit', edit_cheque_path(@cheque) %> |
<%= link_to 'Back', cheques_path %></h3>